/* Standard reset for a normal scrollable website */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #f5f7f9; /* Light grey background */
  color: #333;
}

#root {
  width: 100%;
}